// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;

// Colors
$brand-primary:         #27ae60;

$white: 				#ffffff;
$white--smoke:			#fafafa;
$white--smoke--darK:	#f1f1f1;
$brown:					#543022;
$brown--light--1:		lighten($brown, 15%);
$brown--light:			#c6baa2;
$brown--lighter--2:		lighten($brown, 25%);
$brown--lighter:		lighten($brown--light, 15%);

$black:					#000;
$black--light:			lighten($black, 15%);
$green:					#007739;
$green--light:			lighten($green, 10%);
$green--dark:			darken($green, 10%);
$green--accent: 		#b7c72c;
$purple: 				#604848;
$cream:					#F0F0D8;
$orange:				#b5733c;
$yellow:				#f1cf00;
$yellow--light:	lighten($yellow, 35%);

$gray--light:			#999;
$gray--lighter:			#eee;
$gray--text:			#515151;
$gray--text--dark:		#414141;
$blue--fb:				#3b5998;
$blue--fb--hover:		#4264aa;
$blue--tw:				#55acee;
$blue--tw--hover:		#6cb7f0;
$blue--sky:				#ccf1f6;
$red:					#7C2202;
$red--google:			#dd4b39;
$red--google--light:	lighten($red--google, 35%);
$red--google--hover:	#e15f4f;

.fa-video{
	&:before{
		content: "\f04b";
	}
}

.fa-gallery{
	&:before{
		content: "\f1c5";
	}
}