<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' id='sage_css-css'  href='main.css' type='text/css' media='all' />
</head>
<body>
	<header class="super-header">
		<div class="container">
			<nav role="navigation" class="collapse">
				<div class="menu-social-navegacion-container">
					<ul class="nav navbar-nav navbar-right navbar-social" id="menu-social-navegacion"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11086" id="menu-item-11086"><a target="_blank" href="https://www.facebook.com/AgroRuralFans" title="&lt;span class=&quot;hidden&quot;&gt;Facebook&lt;/span&gt;"><span class="glyphicon fa fa-facebook"></span>&nbsp;<span class="hidden">Facebook</span></a></li>
					<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11085" id="menu-item-11085"><a target="_blank" href="http://twitter.com/agrorural" title="&lt;span class=&quot;hidden&quot;&gt;Twitter&lt;/span&gt;"><span class="glyphicon fa fa-twitter"></span>&nbsp;<span class="hidden">Twitter</span></a></li>
					<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11084" id="menu-item-11084"><a target="_blank" href="https://www.youtube.com/user/pnmsperu" title="&lt;span class=&quot;hidden&quot;&gt;YouTube&lt;/a&gt;"><span class="glyphicon fa fa-youtube-play"></span>&nbsp;<span class="hidden">YouTube</span></a></li>
					</ul>
				</div>    
				<div class="menu-super-navegacion-container">
					<ul class="nav navbar-nav navbar-right navbar-links" id="menu-super-navegacion"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-11209 dropdown" id="menu-item-11209"><a aria-haspopup="true" class="dropdown-toggle" href="http://www.agrorural.gob.pe/servicios-en-linea/" title="Servicios en Línea">Servicios en Línea <span class="caret"></span></a>
					<ul class=" dropdown-menu" role="menu">
					<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11468" id="menu-item-11468"><a target="_blank" href="http://correo.agrorural.gob.pe" title="Correo">Correo</a></li>
					<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11469" id="menu-item-11469"><a target="_blank" href="http://sgd.minagri.gob.pe/sgdminag" title="SIGD">SIGD</a></li>
					<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11470" id="menu-item-11470"><a target="_blank" href="http://intranet.agrorural.gob.pe" title="Intranet">Intranet</a></li>
					</ul>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11087" id="menu-item-11087"><a target="_blank" href="http://www.agrorural.gob.pe/contacto/" title="Contacto">Contacto</a></li>
					<li class="bp-menu bp-login-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-11880" id="menu-item-11880"><a target="_blank" href="http://www.agrorural.gob.pe/wp-login.php?redirect_to=http%3A%2F%2Fagrorural.dev%2Fportal%2F" title="Entrar">Entrar</a></li>
					<li class="bp-menu bp-register-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-11881" id="menu-item-11881"><a target="_blank" href="http://www.agrorural.gob.pe/registro/" title="Unirse">Unirse</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
</body>
</html>