ul#menu-navegacion-primaria{
	li{
		&.active, &.current-page-ancestor, &.current-menu-ancestor{
			a, a:hover{
				color: $red--google;
				background-color: transparent;
			}
		}

		a{
			@include opensans(bold);
			text-transform: uppercase;
			color: $purple;
			font-size: 12px;
			&:hover{
				color: $red--google--hover; 
			}
		}

		&.dropdown{
			ul.dropdown-menu{
				display: none;
				@include border-radius(0);
				li{
					a{
						@include opensans(light);
						font-size: 13px;
						text-transform: none;
						color: $gray;
						padding: 5px 20px; 
						&:hover{
							background-color: $red--google--light;
						}
					}
					&.dropdown-header{
						font-size: 10px;
						text-transform: uppercase;
						@include title-xs();
						color: $gray--light;
					}
					&.active{
						a, a:hover{
							background-color: $red--google;
							color: $white;
						}
					}
				}

				&:hover{
					li{
						&.dropdown-header{
							color: $black;
						}
					}
				}
			}
			&:hover{
				ul.dropdown-menu{ 
					display: block; 
					width: 100%;
					-webkit-animation-duration: 1s;
					animation-duration: 1s;
					-webkit-animation-fill-mode: both;
					animation-fill-mode: both;
					-webkit-animation-name: fadeIn;
					animation-name: fadeIn;
				}
			}
			li{
				&.dropdown{
					a:first-of-type {
						&:before{
							@include fa();
							content : '\f105';
							position: absolute;
							right: 10px;
						}
					}

					ul.dropdown-menu{
						display: none;
					}

					&:hover{
						ul.dropdown-menu{ 
							display: block; 
							top: 0;
							left: 100%;
							right: auto;
							li{

								a{
									&:before{
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

ul#menu-super-navegacion{
	li{
		&.active, &.current-page-ancestor, &.current-menu-ancestor{
			a, a:hover{
				color: $yellow;
			}
		}
		&.dropdown{
			ul.dropdown-menu{
				z-index: 1001;
				display: none;
				@include border-radius(0);
				li{
					a{
						@include opensans(light);
						font-size: 13px;
						text-transform: none;
						color: $gray;
						padding: 5px 20px; 
						&:hover{
							background-color: $yellow--light; 
						}
					}
					&.dropdown-header{
						font-size: 10px;
						text-transform: uppercase;
						@include title-xs();
						color: $gray--light;
					}
					&.active{
						a, a:hover{
							background-color: $red--google;
							color: $white;
						}
					}
				}

				&:hover{
					li{
						&.dropdown-header{
							color: $black;
						}
					}
				}
			}
			&:hover{
				ul.dropdown-menu{ 
					display: block; 
					width: 100%;
					-webkit-animation-duration: 1s;
					animation-duration: 1s;
					-webkit-animation-fill-mode: both;
					animation-fill-mode: both;
					-webkit-animation-name: fadeIn;
					animation-name: fadeIn;
					li{
						display: block;
					}
				}
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-sm-min) {
	ul#menu-navegacion-primaria, ul#menu-super-navegacion{
		li.dropdown{
			&:hover{
				ul.dropdown-menu{ 
					width: auto;
				}
			}
		}
	}
}