.archive{
	&.post-type-archive-servicios{
		.masshead{
			background-image: url('../images/masshead--servicios.jpg') !important;
			@include full-bg();
			.page-header{}
		}
		.wrapper{
		@include make-row();
			.inner{
				@include make-lg-column(4);
				@include make-xs-column(6);
				padding: 0;
				.thumbnail{
					margin: 0;
					position: relative;
					border: 0 none;
					@include border-radius(0);
					padding: 0;
					@include focus-shadow();
					z-index: 0;
					@include fadeIn();
					&:hover{
						&:after{
							background-image: none;
							background: $red--google;
							@include fadeIn();
						}
					}
					.caption{
						z-index: 10;
						@include text-on-focus();
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						a{
							@include text-on-focus();
						}
						h3, p, a{
							text-align: center;
						}

						h3{
							font-size: 16px;
						}
						p{
							font-size: 11px;
						}

						@media(min-width: $screen-lg-min){
							padding-top: 50px;
							h3{
								font-size: 24px;
							}
							p{
								display: none;
								visibility: hidden;
							}
							&:hover{
								h3{
									@include fadeInUp();
								}
								p{
									display: block;
									visibility: visible;
									@include fadeInUp();
								}
							}
						}
					}
				}
			}
		}
	}
	&.post-type-archive-producto, &.tax-clasificacion, &.tax-marca, &.tax-productor{
		.masshead{
			background-image: url('../images/masshead--producto.jpg') !important;
			@include full-bg();
		}
		.main{
			section.clasificaciones{
				@include make-row(0);
				padding: 15px 0;
				margin-bottom: 30px;
				background-color: $yellow--light;
				.wrapper{
					@include make-xs-column(12);
					@include make-sm-column(4);
					@include make-lg-column(4);
					.thumbnail{
						position: relative;
						@include border-radius(0);
						padding: 0;
						@media(min-width: $screen-sm-min){
							margin-bottom: 0;
						}
						.caption{
							position: absolute;
							bottom: 7px;
							left: 0;
							right: 0;
							background-color: $white;
							h3{
								@include entry-title(sm);
								margin-top: 0;
								margin-bottom: 3px;
							}
							p{
								@include meta-text();
								margin-bottom: 0;
							}
							h3, p{
								text-align: center;
							}
						}
						&:hover{
							img{}
						}
					}
				}
			}

			figure.producto{
				.thumbnail{
					background-color: $brown--lighter;
					padding: 0;
					border: 0 none;
					@include border-radius(0px);
					figcaption{
						text-align: center;
						background-color: $white--smoke;
						h3{
							@include entry-title(xs);
							margin: 0;
							padding: 5px 0;
							a{
								color: $gray;
							}

						}
						h6{
							color: $green--light;
							small{
								color: $gray;
								@include opacity(.85);
							}
						}
					}
				}
			}
			@media(max-width: $screen-xs-max){
					@include make-row();
					figure.producto{
						@include make-xs-column(6);
					}
			}
			@media(min-width: $screen-sm-min){
				figure.producto{
					@include make-xs-column(3);
					.thumbnail{
						position: relative;
						overflow: hidden;
						margin-bottom: 30px;
						a{
							display: block;
						}
						figcaption{
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							background-color: $yellow--light;
							@include fadeOutDown();
							h3{
								padding-left: 15px;
								padding-right: 15px;
								padding-top: 10px;
								padding-bottom: 0;
								@include opensans(semibold);
								a{
									&:hover{
										color: $green--light;
									}
								}

							}
						}
					}
					&:hover{
						.thumbnail{
							a{
								img{
									@include pulse();
								}
							}
						}
						figcaption{
							@include keyframes(fadeInUp) {
							  0% {
							    opacity: 0;
							    @include transform(translateY(20px));}
							  100% {
							    opacity: 0.85;
							    @include transform(translateY(0));
							  }
							}
							@include fadeInUp();
						}
					}
				}
			}
		}
		.sidebar{
			.widget{
				form#searchform{
					.checkbox{
						.cb__post, .cb__documentos, .cb__convocatorias, .cb__servicios, .cb__tribe_events{
							display: none;
							visibility: hidden;
						}
					}
				}
			}
		}
	}

	&.term-post-format-video{
		.multimedia--1{
			@include make-row();
			margin: 0 0 30px;
			figure{
				@include gradient-vertical( $black, $gray--text--dark, 0%, 100% );
				padding: 30px 15px;
				.multimedia--1__video{
					@include make-sm-column(8);
					@include make-xs-column(12);
				}
				.multimedia--1__caption{
					@include make-sm-column(4);
					@include make-xs-column(12);
					.multimedia--1__caption__title{
						@include opensans();
						a{
							color: $gray--lighter;
							@include text-shadow();
						}
					}
					time{
						display: block;
						padding-bottom: 15px;
						@include opensans(semibold);
						color: $gray--light;
						@include text-shadow();
					}
					p{
						color: $gray--light;
						@include text-shadow();
					}
				}
				@include clearfix();
			}
		}
	}
	&.term-post-format-video, &.term-post-format-gallery{
		.multimedia--2{
			@include make-row();
			figure{
				@media(max-width: $screen-xs-max){
					@include make-xs-column(12);
				}
				@media(max-width: $screen-sm-max){
					@include make-sm-column(6);
				}
				@media(min-width: $screen-md-min){
					@include make-md-column(4);
				}
				margin-bottom: 30px;
				a{
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					height: 100%;
					.media-img{
							i{
								position: absolute;
								font-size: 24px;
							}
					}
					figcaption{
						position: absolute;
						top: inherit !important;
						bottom: 0;
						padding: 15px;
						@include focus-shadow();

						h3{
							@include text-on-focus();
							@include entry-title(sm);
						}
					}
				}
			}
		}
	}
}

.single-servicios{
	.masshead{
		background-image: url('../images/masshead--servicios.jpg');
		@include full-bg();
		.page-header{
		}
	}
	&.videos-de-capacitacion{
		.main{
			.wrapper{
				@include make-row();
				.inner{
					@include make-sm-column(3);
					@include make-xs-column(12);
					.thumbnail{
						@include border-radius(0);
    					padding: 0;
    					img{
    						margin: 0;
    					}
    					.caption{
    						text-align: center;
    						a{
    							margin: 7px auto 3px;
    							padding: 0;
    							font-size: 14px;
    							@include opensans(bold);
    						}
    					}
					}
				}
			}

		}
	}
}

.servicios__logo{
	margin: 0 auto;
	a{
		margin: 0 auto;
		@include img-replace( 420px, 300px);
		background-image: url('../images/serviagro__logo--sm.png');
	}
}

@media(max-width: $screen-sm-max){
	.archive{}
}

@media(min-width: $screen-lg-min){
	.archive{
		.multimedia--2{
		}
	}
}
