footer{
	&.pre-footer{
		background-color: $white;
		.container{
			.sl__footer{
				.owl-stage-outer{
					.owl-stage{
						.owl-item{
							img{}
							&:hover{
								img{}
							}
						}
					}
				}
				.owl-nav{
					.owl-prev, .owl-next{
						position: absolute;
						top: 0;
						bottom: 0;
						text-align: center;
						background-color: $white;
						color: $green--accent;
						width: 24px;
						height: 100%;
						span{
							font-size: 12px;
							line-height: 84px;
						}
					}
					.owl-prev{
						left: -15px;
					}
					.owl-next{
						right: -15px;
					}
				}
			}
		}
	}
	&.content-info{
		padding-top: 30px;
		padding-bottom: 30px;
		@include gradient-vertical($white, $blue--sky, 0%, 100%);
		.container{
			.widget{
				margin-bottom: 30px;
				address{
					margin-bottom: 10px;
				}
				h3{
					font-size: 11px;
					@include font-family(opensans, light);
					text-transform: uppercase;
					letter-spacing: 0.1em;
					margin: 0 0 16px;
				}
				ul{
					margin: 0;
					padding: 0;
					list-style-type: none;
					li{
						padding: 0  0 8px 0;
						a{
							display: block;
							padding: 0px;
							@include font-family(opensans, semibold);
							font-size: 12px;
						}
						ul.sub-menu{
							padding-top: 3px;
							padding-bottom: 3px;
							li{
								padding-bottom: 3px;
								a{
									@include font-family();
									color: $brown;
									font-size: 11px;
									&:hover{
										color: $red--google;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.post-footer{
		background-color: $blue--sky;
		background-image: url('../images/post-footer__bg--2.png');
		background-position: center bottom;
		background-repeat: repeat-x;
		padding-top: 60px;
		padding-bottom: 30px;
		.container{

			.footer__logo{
				&.minagri, &.peru{
					a{
						@include img-replace();
					}
				}
				&.minagri{
					float: left;
					a{
						width: 275px;
						height: 50px;
						background-image: url('../images/logo__minagri.png');
					}
				}
				&.peru{
					float: right;
					a{
						width: 170px;
						height: 50px;
						background-image: url('../images/el_peru_primero.png');
					}
				}
			}
		}
	}
}


@media(max-width: $screen-xs-max){
	footer{
		&.post-footer{
			.container{
				.footer__logo{
					&.minagri, &.peru{
						a{
							span{}
						}
					}
					&.minagri{
						@include center-block();
						float: none;
						a{
							width: auto;
							background-position: center;
						}
						margin-bottom: 20px;
					}
					&.peru{
						@include center-block();
						float: none;
						a{
							width: auto;
							background-position: center;
						}
					}
				}
			}
		}
	}
}
@media(min-width: $screen-sm-min){}
@media(max-width: $screen-sm-max){}
@media(min-width: $screen-md-min){}
@media(max-width: $screen-md-max){}
@media(min-width: $screen-lg-min){
	&.pre-footer{
		.container{
			.sl__footer{
				.owl-stage-outer{
					.owl-stage{
						.owl-item{
							img{
								-webkit-filter: grayscale(100%);
								-moz-filter: grayscale(100%);
								filter: grayscale(100%);
								@include opacity(.85);
							}
							&:hover{
								img{
									-webkit-filter: grayscale(0);
									-moz-filter: grayscale(0);
									filter: grayscale(0);
									@include opacity(1);
								}
							}
						}
					}
				}
				.owl-nav{
					.owl-prev, .owl-next{
						position: absolute;
						top: 0;
						bottom: 0;
						text-align: center;
						background-color: $white;
						color: $green--accent;
						width: 24px;
						height: 100%;
						span{
							font-size: 12px;
							line-height: 84px;
						}
					}
					.owl-prev{
						left: -15px;
					}
					.owl-next{
						right: -15px;
					}
				}
			}
		}
	}
}
