/* Begin Super Header */
header{
	&.super-header{
		@include gradient-horizontal( $green, $green--light, 0%, 100%); 
		border-bottom: 1px solid transparent;
		.nav{
			li{
				font-size: 13px;
				font-weight: normal;
				.navbar-brand{
					font-size: 13px;
					height: 100%;
					padding-top: 10px;
					padding-bottom: 10px;
					margin-bottom: 0;
					color: $white;
				}
			}
			&.navbar-right{ 
				background-color: $green; 
				li{
					a{
  						text-transform: uppercase;
  						font-size: 11px;
  						color: $white;
  						padding-top: 10px;
						padding-bottom: 10px;
					}
				}
				&.navbar-social{
					li{
						&.menu-item-11086{
							a{
								background-color: $blue--fb;
								&:hover{
									background-color: $blue--fb--hover;
								}
							}
						}
						&.menu-item-11085{
							a{
								background-color: $blue--tw;  
								&:hover{
									background-color: $blue--tw--hover;
								}
							}
						}
						&.menu-item-11084{
							a{
								background-color: $red--google;  
								&:hover{
									background-color: $red--google--hover;
								}
							}
						}
					}
				} /*  Fin .navbar-social */			
				&.navbar-links{
					li{
						a{
							background-color: transparent;
							&:hover{
								color: $yellow;
							}
						}
					}
				}
			}
		}

		.navbar-form{
			margin-top: 0;
			margin-bottom: 0;
  			padding-top: 8px;
  			padding-bottom: 8px;
  			background-color: $green; 
			.search-form{
				.input-group{
					.form-control{
						height: 24px;
						padding: 3px 7px;
						font-size: 13px;
						border: 1px solid transparent;
						@include border-radius(0px);
						&:focus{
							color: $black;
							background-color: $white--smoke;
						}
					}
					.input-group-btn{
						.search-submit{
							@include border-radius(0px);
							padding: 2px 7px;
							font-size: 12.5px;
							border: 1px solid transparent;
							background-color: $white;
							color: $gray--light;
							&:hover{
								border: 1px solid transparent;
								background-color: $white;
							}
						}
					}
				}
			}
		}
	}

	&.navbar-default {
  		background-color: $white;
  		border-color: $white;
  		margin-bottom: 0;
  		.container{
  			padding-top: 15px;
  			padding-bottom: 15px;
  		}
	}
}


				

h1{
	&.navbar-brand{
		margin: 0;
		padding: 0 0 0 15px;
		height: 100%;
		a{
			display: block;
			width: 140px!important;
  			height: 55px!important;
  			background-image: url(../images/logo--sm.png)!important;
  			span{
  				position: relative;
			  	display: block;
			  	text-indent: 100%;
			  	white-space: nowrap;
			  	overflow: hidden;
			  	margin: 0;
			  	padding: 0;
  			}
		}
		&:hover{
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation-name: pulse;
			animation-name: pulse;
		}
	}
}
@media(max-width: $screen-xs-max){
	header{
		&.super-header{
			.navbar-date, .navbar-links, .navbar-social{
				text-align: center;
				li{
					display: inline-block;
				}
			}
			.navbar-links, .navbar-social{
				background-color: transparent !important;
			}
		} /* Termina .super-header */	
	} /* Termina header*/

		.home{
		.sl__home{
			.owl-stage-outer{
				.owl-stage{
					background-color: $black;
					.owl-item{
						figure{
							img{}
							figcaption{
  								padding-top: 50px !important;
  								.sl__home__hashtag, .sl__home__title, .sl__home__content, .sl__home__link{
  									
  								}
  								.sl__home__hashtag{
  									a{	
  										color: $white;
  										@include opensans(semibold);
  										text-transform: uppercase;
  										font-size: 10px;
  									}
  								}
  								.sl__home__title{
  									h3{
  										text-transform: uppercase; 
  										@include opensans();
  										color: $white;
  										font-size: 18px;                                                                                                                                                                        
  										margin-top: 0px;
  										margin-bottom: 0;
  										padding-top: 7px;
  										padding-bottom: 10px;
  										border-bottom: 1px solid transparent;
  										a{
  											color: $white;
  										}
  									}
  								}
  								.sl__home__content{
  									display: none;
  									visibility: hidden;
  								}
  								.sl__home__link{
  									p{
  										padding-top: 10px;
  										padding-bottom: 20px;
  										a{
  											@include button-variant( $green--accent, transparent, transparent );
  											text-transform: uppercase;
  											@include opensans(bold);
  											font-size: 11px;
  										}
  									}
  								}
							} 
						}
					}
				}
			} /* Owl Stage Outer Ends*/
		} /* Termina .sl__home */
	} /* Termina home*/
}

@media (min-width: $screen-sm-min) {

}

@media (max-width: $screen-md-max){
	.home{
		.sl__home{
			.owl-stage-outer{
				.owl-stage{
					background-color: $black;
					.owl-item{
						figure{
							img{}
							figcaption{
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								background: url(../images/pixel-50percent-black.png) repeat;
									background: rgba(0,0,0,0.5);
									padding-left: 20px;
									padding-right: 20px;
									padding-top: 60px;
									.sl__home__hashtag, .sl__home__title, .sl__home__content, .sl__home__link{
										
									}
									.sl__home__hashtag{
										a{	
											color: $white;
											@include opensans(semibold);
											text-transform: uppercase;
											font-size: 10px;
										}
									}
									.sl__home__title{
										h3{
											text-transform: uppercase; 
											@include opensans();
											color: $white;                                                                                                                                                                        
											margin-top: 0px;
											margin-bottom: 0;
											padding-top: 7px;
											padding-bottom: 10px;
											border-bottom: 1px solid transparent;
											a{
												color: $white;
											}
										}
									}
									.sl__home__content{
										p{
											color: $white;
										}
									}
									.sl__home__link{
										p{
											padding-top: 10px;
											padding-bottom: 20px;
											a{
												@include button-variant( $green--accent, transparent, transparent );
												text-transform: uppercase;
												@include opensans(bold);
												font-size: 11px;
											}
										}
									}
							} 
						}

						&.active{
							figure{
							}
							img{}
							figcaption{}
						}
					}
				}
			} /* Owl Stage Outer Ends*/

			.owl-nav{
				.owl-prev, .owl-next{
					position: absolute;
					bottom: 20px;	
					text-align: center;
					opacity: 1;
					background-color: $green--accent; 
					@include border-radius(500px);
					width: 24px;
					height: 24px;
					span{
						font-size: 12px;
						line-height: 23px;
					}
				}
				.owl-prev{
					right: 55px;
					span{
					}
				}
				.owl-next{
					right: 15px;
					span{}
				}
			} /* Termina .owl-nav */
			.owl-dots{ 
				position: absolute;
				top: 20px;
				left: 20px;
				.owl-dot{
					float: left;
					margin: 0 5px 0 0;
					background: rgba(0,0,0,0.35);
					padding: 4px;
					border-radius: 30px;
					box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
					span{
						display: block;
						width: 14px;
						height: 14px;
						@include border-radius(30px);
						background-color: $white;
					}
					&:hover, &.active{
						span{
							background-color: $green--accent;
						}
					}
				}
			} /* Termina .owl-dots */
		} /* Termina .sl__home */
	} /* Termina home*/
}

@media (min-width: $screen-lg-min) {
	header{
		&.super-header {
			.nav{
				&.navbar-right{
					margin-right: 0;
				}
			}
		}
	}
	.home{
		.sl__home{
			width: 1140px;
			margin: 0 auto;
			.owl-stage-outer{
				overflow: visible;
				.owl-stage{
					background-color: $black;
					.owl-item{
						width: 1140px;
						figure{
							position: relative;
							-webkit-transition: all 0.3s ease;
							-moz-transition: all 0.3s ease;
							-ms-transition: all 0.3s ease;
							-o-transition: all 0.3s ease;
							transition: all 0.3s ease;
							transition: all 0.3s ease ease-in-out 0.3s;
							opacity: 0.25;
							img{}
							figcaption{
								position: absolute !important;
								@include make-sm-column(4);
								padding-left: 0;
								padding-right: 0;
								bottom: 30px;
  								right: 30px;
  								opacity: 0;
  								.sl__home__hashtag, .sl__home__title, .sl__home__content, .sl__home__link{
  									background: url(../images/pixel-50percent-black.png) repeat;
  									background: rgba(0,0,0,0.5);
  									padding-left: 20px;
  									padding-right: 20px;
  								}
  								.sl__home__hashtag{
  									padding-left: 0px;
  									padding-right: 0px;
  									a{	
  										text-transform: uppercase;
  										display: block;
  										padding-left: 20px;
  										padding-right: 20px;
  										padding-top: 5px;
  										padding-bottom: 5px;
  										color: $white;
  										@include opensans(semibold);
  									}
  								}
  								.sl__home__title{
  									h3{
  										text-transform: uppercase; 
  										@include opensans();
  										color: $white;                                                                                                                                                                        
  										margin-top: 3px;
  										margin-bottom: 0;
  										padding-top: 15px;
  										padding-bottom: 10px;
  										border-bottom: 1px solid $gray;
  										font-size: 24px !important;
  										a{
  											color: $white;
  										}
  									}
  								}
  								.sl__home__content{
  									p{
  										padding-top: 15px;
  										color: $white;
  									}
  								}
  								.sl__home__content, .sl__home__link{
  									p{
  										margin-bottom: 0;
  										padding-bottom: 10px;
  									}
  								}
  								.sl__home__link{
  									p{
  										padding-top: 10px;
  										padding-bottom: 20px;
  										a{
  											@include button-variant( $green--accent, transparent, transparent );
  											text-transform: uppercase;
  											@include opensans(bold);
  										}
  									}
  								}
							} 
						}

						&.active{
							figure{
							-webkit-transition: all 0.3s ease;
							-moz-transition: all 0.3s ease;
							-ms-transition: all 0.3s ease;
							-o-transition: all 0.3s ease;
							transition: all 0.3s ease;
							transition: all 0.3s ease ease-in-out 0.3s;
							-webkit-filter: grayscale(0);
							-moz-filter: grayscale(0);
							filter: grayscale(0);
							opacity: 1;
							}
							img{}
							figcaption{
								opacity: 1;
							}
						}
					}
				}
			} /* Owl Stage Outer Ends*/

			.owl-nav{
				.owl-prev, .owl-next{
					position: absolute;
					top: 50%;	
					text-align: center;
					@include border-radius(500px);
					opacity: 0;
					background-color: $green--accent; 
					@include border-radius(500px);
					width: 24px;
					height: 24px;
					span{
						font-size: 12px;
						line-height: 23px;
					}
				}
				.owl-prev{
					left: -5%;
					-webkit-animation-duration: 1s;
					animation-duration: 1s;
					-webkit-animation-fill-mode: both;
					animation-fill-mode: both;
					-webkit-animation-name: fadeOutLeft;
					animation-name: fadeOutLeft;
					span{
					}
				}
				.owl-next{
					right: -5%;
					-webkit-animation-duration: 1s;
					animation-duration: 1s;
					-webkit-animation-fill-mode: both;
					animation-fill-mode: both;
					-webkit-animation-name: fadeOutRight;
					animation-name: fadeOutRight;
					span{}
				}
			} /* Termina .owl-nav */
			.owl-dots{ 
				position: absolute;
				top: 20px;
				left: 20px;
				.owl-dot{
					float: left;
					margin: 0 5px 0 0;
					background: rgba(0,0,0,0.35);
					padding: 4px;
					border-radius: 30px;
					box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
					span{
						display: block;
						width: 14px;
						height: 14px;
						@include border-radius(30px);
						background-color: $white;
					}
					&:hover, &.active{
						span{
							background-color: $green--accent;
						}
					}
				}
			} /* Termina .owl-dots */
		
			&:hover{
				.owl-nav{
					.owl-prev{
						-webkit-animation-duration: 1s;
						animation-duration: 1s;
						-webkit-animation-fill-mode: both;
						animation-fill-mode: both;
						-webkit-animation-name: fadeInLeft;
						animation-name: fadeInLeft;
						opacity: 1;
					}
					.owl-next{ 
						-webkit-animation-duration: 1s;
						animation-duration: 1s;
						-webkit-animation-fill-mode: both;
						animation-fill-mode: both;
						-webkit-animation-name: fadeInRight;
						animation-name: fadeInRight;
						opacity: 1;
					}
				}
			}
		} /* Termina .sl__home */
	} 

	header{
		&.super-header{
			.container{}
		}
	}
}