/* Begin Super Header */
header{
	&.super-header{
		@include gradient-horizontal( $green, $green--light, 0%, 100%); 
		border-bottom: 1px solid transparent;
		.collapse{
			display: block;
			height: 100% !important;
			.nav{
				li{
					font-size: 13px;
					font-weight: normal;
					.navbar-brand{
						font-size: 11px;
						height: 100%;
						padding: 5px 0;
						margin-bottom: 0;
						color: $white;
					}
				}
				&.navbar-right{ 
					background-color: transparent; 
					li{
						a{
	  						font-size: 11px;
	  						color: $white;
	  						padding-top: 5px;
							padding-bottom: 5px;
						}
					}
					&.navbar-social{
						li{
							a{
								padding-left: 10px;
								padding-right: 10px;
							}

							&.menu-item-11086{
								a{
									background-color: $blue--fb;
									&:hover{
										background-color: $blue--fb--hover;
									}
								}
							}
							&.menu-item-11085{
								a{
									background-color: $blue--tw;  
									&:hover{
										background-color: $blue--tw--hover;
									}
								}
							}
							&.menu-item-11084{
								a{
									background-color: $red--google;  
									&:hover{
										background-color: $red--google--hover;
									}
								}
							}
						}
					} /*  Fin .navbar-social */			
					&.navbar-links{
						li{
							a{
								background-color: transparent;
								&:hover{
									color: $yellow; 
								}
							}
						}
					}
				}
			}

			.navbar-form{
				margin-top: 0;
				margin-bottom: 0;
	  			padding-top: 0px;
	  			padding-bottom: 0px;
	  			background-color: transparent;
	  			@media (min-width: $screen-lg-min){
	  				background-color: $green;
	  				padding: 0;
	  				margin: 0;
	  			}
				
				.search-form{
					.form-control{
						height: 30px;
						padding: 3px 7px;
						font-size: 11px;
						border: 1px solid transparent;
						background-color: $white--smoke;
						@include border-radius(0px);
						@include fa();
						
						@media (min-width: $screen-lg-min){
							background-color: transparent;
							-webkit-transition-duration: 400ms;
							-webkit-transition-property: width, background;
							-webkit-transition-timing-function: ease;
							-moz-transition-duration: 400ms;
							-moz-transition-property: width, background;
							-moz-transition-timing-function: ease;
							-o-transition-duration: 400ms;
							-o-transition-property: width, background;
							-o-transition-timing-function: ease;
							width: 33px;
							@include placeholder($white);					
							
							&:focus, &:active{
								@include placeholder($gray);
								background-color: $white--smoke;
								width: 100%;
							}
						}

					}
				}
			}
		}
	}

	&.navbar-default {
  		background-color: $white;
  		border-color: $white;
  		margin-bottom: 0;
  		.container{
  			padding-top: 15px;
  			padding-bottom: 15px;
  		}
	}
}


				

h1{
	&.navbar-brand{
		margin: 0;
		padding: 0 0 0 15px;
		height: 100%;
		a{
			display: block;
			width: 140px!important;
  			height: 55px!important;
  			background-image: url(../images/logo--sm.png)!important;
  			span{
  				position: relative;
			  	display: block;
			  	text-indent: 100%;
			  	white-space: nowrap;
			  	overflow: hidden;
			  	margin: 0;
			  	padding: 0;
  			}
		}
		&:hover{
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation-name: pulse;
			animation-name: pulse;
		}
	}
}
@media(max-width: $screen-xs-max){
	header{
		&.super-header{
			.navbar-date, .navbar-links, .navbar-social{
				text-align: center;
				li{
					display: inline-block;
				}
			}
			.navbar-links, .navbar-social{
				background-color: transparent !important;
			}
		} /* Termina .super-header */	
	} /* Termina header*/

		.home{
		.sl__home{
			.owl-stage-outer{
				.owl-stage{
					background-color: $black;
					.owl-item{
						figure{
							img{}
							figcaption{
  								padding-top: 50px !important;
  								.sl__home__hashtag, .sl__home__title, .sl__home__content, .sl__home__link{
  									
  								}
  								.sl__home__hashtag{
  									a{	
  										color: $white;
  										@include opensans(semibold);
  										text-transform: uppercase;
  										font-size: 10px;
  									}
  								}
  								.sl__home__title{
  									h3{
  										text-transform: uppercase; 
  										@include opensans();
  										color: $white;
  										font-size: 18px;                                                                                                                                                                        
  										margin-top: 0px;
  										margin-bottom: 0;
  										padding-top: 7px;
  										padding-bottom: 10px;
  										border-bottom: 1px solid transparent;
  										a{
  											color: $white;
  										}
  									}
  								}
  								.sl__home__content{
  									display: none;
  									visibility: hidden;
  								}
  								.sl__home__link{
  									p{
  										padding-top: 10px;
  										padding-bottom: 20px;
  										a{
  											@include button-variant( $green--accent, transparent, transparent );
  											text-transform: uppercase;
  											@include opensans(bold);
  											font-size: 11px;
  										}
  									}
  								}
							} 
						}
					}
				}
			} /* Owl Stage Outer Ends*/
		} /* Termina .sl__home */
	} /* Termina home*/
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-lg-min) {
	header{
		&.super-header {
			.nav{
				&.navbar-right{
					margin-right: 0;
				}
			}
		}
	}
	.home{

	} 

	header{
		&.super-header{
			.container{}
		}
	}
}