/* Begin Super Header */
header{
	&.super-header, &.banner{
		background-color: $green--dark;
	}
	 
	&.super-header{
		position: relative;
		z-index: 1002;
		border-bottom: 1px solid transparent;
		.collapse{
			display: block;
			height: 100% !important;
			.nav{
				li{
					font-size: 13px;
					font-weight: normal;
					.navbar-brand{
						font-size: 11px;
						height: 100%;
						padding: 5px 0;
						margin-bottom: 0;
						color: $white;
					}
					&.search-icon{
						a{
							background-color: $green;
							&:hover{
								color: $yellow;
							}
							&:focus{
								background-color: $green;
							}
						}
						&.active{
							a{
								background-color: $green--light;
								color: $yellow;
							}
						}
					}
				}
				&.navbar-right{ 
					background-color: transparent; 
					li{
						a{
	  						font-size: 11px;
	  						color: $white;
	  						padding-top: 5px;
							padding-bottom: 5px;
						}
					}
					&.navbar-social{
						li{
							a{
								padding-left: 10px;
								padding-right: 10px;
							}
							&#menu-item-14012{
								a{
									background-color: $yellow--light;
										color: $red--google;
									&:hover{
										background-color: $yellow--light;
										color: $red--google--hover;
									}
								}
							}

							&.menu-item-11086{
								a{
									background-color: $blue--fb;
									&:hover{
										background-color: $blue--fb--hover;
									}
								}
							}
							&.menu-item-11085{
								a{
									background-color: $blue--tw;  
									&:hover{
										background-color: $blue--tw--hover;
									}
								}
							}
							&.menu-item-11084{
								a{
									background-color: $red--google;  
									&:hover{
										background-color: $red--google--hover;
									}
								}
							}
						}
					} /*  Fin .navbar-social */			
					&.navbar-links{
						li{
							a{
								background-color: transparent;
								&:hover{
									color: $yellow; 
								}
							}
						}
					}
				}
			}

			.navbar-form{
				margin-top: 0;
				margin-bottom: 0;
	  			padding-top: 0px;
	  			padding-bottom: 0px;
	  			background-color: transparent;
	  			@media (min-width: $screen-lg-min){
	  				background-color: $green;
	  				padding: 0;
	  				margin: 0;
	  			}
				
				.search-form{
					.form-control{						
						@media (min-width: $screen-lg-min){				
							&:focus, &:active{
							}
							&:active{
							}
						}

					}
				}
			}
		}
	}

	&.navbar-main{
		background-color: $green;
		border-color: $green;
		margin-bottom: 0;
		z-index: 100;
		.navbar-header{
			button{
				padding: 5px 10px;
				border-color: transparent;
				@include border-radius(0);
				.icon{
					color: $brown--lighter;
					&:before{
			            content: $fa-var-bars;
			        }
				}
				&:hover, &:focus{
					background-color: transparent;
				}
				&.opened{
					.icon{
						&:before{
						    content: $fa-var-close;
						}
					}
				}
			}
			.navbar-brand{
				@extend .visible-xs;
				color: $brown--lighter;
				margin-bottom: 0;
			}
		}
		nav{
			border-color: transparent !important;
			#mega-menu-wrap-primary_nav_left, #mega-menu-wrap-primary_nav_right{
				display: none;
			}
		}
	}

	&.navbar-branding {
  		background-color: $green;
  		border-color: $green;
  		margin-bottom: 0;
  		z-index: 1001;
  		.container{
  			.navbar-header, .navbar-form{
  				@include make-sm-column(4,0);
  				float: none;
  			}

  			.navbar-form{
  				margin-top: 0;
  				margin-bottom: 0;
  				form{
  					width: 290px;
  					float: right;
  					padding-top: 15px;
  					.input-group{
  						width: 100%;
						.search-field{
							@include opensans();
							font-style: italic;
							height: 40px;
	  						border-top: 1px solid transparent;
	  						border-left: 1px solid transparent;
	  						border-right: 1px solid transparent;
	  						background-color: transparent;
	  						color: $white;
	  						-moz-appearance: textfield;
					        -webkit-appearance: textfield;
					        appearance: textfield;
							box-shadow: none;
							padding-right: 0;
							padding-left: 0;
				        	@include placeholder($white);
	  					}
	  					.input-group-btn{
	  						display: none;
	  					}
  					}
  				}
  			}
  			.navbar-header{
  				&.agrorural{
					.navbar-brand{
						padding-top: 15px;
    					padding-bottom: 15px;
					}
  				}
  				&.minagri{
					.navbar-brand{
						padding-top: 15px;
    					padding-bottom: 15px;
					}
  				}
  			}
  			.navbar-header{

  			}
  			.navbar-form{
  				float: right;
				border-color: transparent !important;
				form{
					position: relative;
					.input-group{
						.input-group-btn{
							input[type="submit"]{
								@extend .btn;
								@include button-variant($white, $brown, $brown);
								@include border-radius(0);
							}
						}
					}
					.checkbox-container{
						display: none;
						@media(min-width: $screen-sm-min){
							position: absolute;
							top: 100%;
							left: 0;
							right: 0;
						}
						background-color: $white;
						padding-bottom: 15px;
						@include fadeOutUp();
						.page-header, label{
							padding-left: 15px;
							padding-right: 15px;
						}
						.page-header{
							margin: 10px 0 20px;
							@media(max-width: $screen-xs-max){
								padding-top: 3px;
							}
							padding-bottom: 0;
							h4{
								@include title-xs();
								line-height: 1.85em;
							}
						}
						.checkbox{
							display: block;
							@media(max-width: $screen-xs-max){
								padding-left: 15px;
								padding-right: 15px;
							}

						}
					}
					&.focused{
						.checkbox-container{
							display: block;
							@include fadeInDown();
						}
					}
				}
			}
  		}
	}
}


				

h1{
	&.navbar-brand{
		margin: 0 auto;
		padding: 0 0 0 15px;
		height: auto;
		a{
			display: block;
			width: 140px!important;
  			height: 55px!important;
  			background-image: url(../images/logo--sm.jpg)!important;
  			span{
  				position: relative;
			  	display: block;
			  	text-indent: 100%;
			  	white-space: nowrap;
			  	overflow: hidden;
			  	margin: 0;
			  	padding: 0;
  			}
		}
		
		&.agrorural{
			padding-right: 15px;
			width: 100%;
			margin: 0 auto !important;
		}

		&.minagri{	
			a{
				width: 210px !important;
				height: 40px !important;
				background-image: url(../images/logo__minagri--sm--2.jpg)!important;
			}
		}
	}
}
@media(max-width: $screen-xs-max){
	header{
		&.super-header{
			.navbar-date, .navbar-links, .navbar-social{
				text-align: center;
				li{
					display: inline-block;
				}
			}
			.navbar-links, .navbar-social{
				background-color: transparent !important;
			}
			.navbar-links{
				ul.dropdown-menu{
					margin-top: 7px;
				}
			}
		} /* Termina .super-header */	
		&.banner{
			ul#menu-navegacion-primaria{
				li{
					a{
						.glyphicon-home{
							display: none;
						}
					}
				}
			}
		}
	} /* Termina header*/
	
	h1{
		&.navbar-brand{

			a{
	  			span{}
			}
			&:hover{}
			
			&.agrorural{
				margin-bottom: 10px;
			}

			&.minagri{	
				a{
					background-image: url(../images/logo__minagri--sm--2.jpg)!important;
					background-repeat: no-repeat;
				}
			}
		}
	}	

		.home{
		.sl__home{
			.owl-stage-outer{
				.owl-stage{
					background-color: $black;
					.owl-item{
						figure{
							img{}
							figcaption{
  								padding-top: 30px !important;
  								.sl__home__hashtag, .sl__home__title, .sl__home__content, .sl__home__link{
  									
  								}
  								.sl__home__hashtag{
  									a{	
  										color: $white;
  										@include opensans(semibold);
  										text-transform: inherit !important;
  										font-size: 10px;
  									}
  								}
  								.sl__home__title{ 
  									h3{
  										@include entry-title('sm');
										text-transform: inherit !important;
										font-size: 20px;
										line-height: 1.3 !important;
  										color: $white;
  										margin-top: 0px;
  										margin-bottom: 0;
  										padding-top: 0 !important;
  										padding-bottom: 0 !important;
  										border-bottom: 1px solid transparent;
  										a{
  											color: $white;
  										}
  									}
  								}
  								.sl__home__content{
  									display: none;
  									visibility: hidden;
  								}
  								.sl__home__link{
  									p{
  										padding-top: 10px;
  										padding-bottom: 20px;
  										a{
  											@include button-variant( $green--accent, transparent, transparent );
  											text-transform: uppercase;
  											@include opensans(bold);
  											font-size: 11px;
  										}
  									}
  								}
							} 
						}
					}
				}
			} /* Owl Stage Outer Ends*/
		} /* Termina .sl__home */
	} /* Termina home*/
}

@media (min-width: $screen-sm-min) {
	.navbar-main{
		#mega-menu-wrap-primary_navigation{
			display: none;
		}
		#mega-menu-wrap-primary_nav_left, #mega-menu-wrap-primary_nav_right{
				display: block !important;
		}
	}
}

@media (min-width: $screen-lg-min) {
	header{
		&.super-header {
			.nav{
				&.navbar-right{
					margin-right: 0;
				}
			}
		}
	}
	.home{

	} 

	header{
		&.navbar-branding{
			z-index: 1003;
			.navbar-header{
				&.agrorural{
				position: absolute;
			    top: -35px;
			    left: 0;
			    right: 0;
			    width: 180px;
			    text-align: center;
			    margin: auto;
					.wrapper{
						width: 180px;
						height: 180px;
					    margin: 0 auto;
					    background: $white;
						float: none;
						-webkit-border-bottom-right-radius: 180px;
						-webkit-border-bottom-left-radius: 180px;
						-moz-border-radius-bottomright: 180px;
						-moz-border-radius-bottomleft: 180px;
						border-bottom-right-radius: 180px;
						border-bottom-left-radius: 180px;
					    transition: height 0.15s ease-out;
						.navbar-brand{
							padding-bottom: 0;
	  						a{
	  							margin: 0 auto 15px;
	  						}
  						}
  						.ht__brand{	
  							height: 0;				
							@include keyframes(fadeOutDown) {
							  0% {
							    opacity: .35;
							    @include transform(translateY(0));
							  }
							  100% {
							    opacity: 0;
							    @include transform(translateY(20px));
							  }
							}
  							@include fadeOutDown();
  						}
  							&:hover{
							height: 215px;
							transition: height 0.25s ease-in;
							.ht__brand{
								 @include fadeInUp();
							}

						}
					}
  				}
			}
		}
		&.navbar-main{
			nav{
				.mega-menu-wrap{

				}
				#mega-menu-wrap-primary_nav_left{
					@include make-sm-column(5,0);
					clear: left;
				}
				#mega-menu-wrap-primary_nav_right{
					@include make-sm-column(5,0);
					@include make-sm-column-offset(2);
					clear: right; 
				}
			}
		}
	}
}