.home{
	.section{
		&.newsfeed{
			main{
				@include make-sm-column(6);
				article.post{
					padding-bottom: 7px;
					padding-top: 7px;
					figure{
						float: left;
						margin-right: 10px;
					}
					header{
						time{
							font-size: 10px;
							color: $gray--light;
						}
						h2{
							@include opensans(semibold);
							font-size: 12px;
							margin-top: 3px;
						}
					}
				}
			}
			aside{
				@include make-sm-column(3);
			}
		}

		&.multimedia__banner{
			background-color: $gray--text; 
			.multimedia{
				@include make-lg-column(12);
				.page-header{
					margin: 0;
					border-bottom: 1px solid $gray--text--dark;
					h3{
						margin-top: 0;
						color: $cream;
					}
				}
				.tabbable.tabs-left{
					@include make-row();
					.nav.nav-tabs{
						@include make-lg-column(2);
						@include make-sm-column(2);
						@include make-xs-column(2); 
						margin-right: 0;
						border-right: 1px solid $gray--text--dark;
						padding-right: 0;
						li{
							a{
								color: $gray--light;
								@include border-radius(0);
								border: 1px solid transparent;
								margin-bottom: 2px;
								&:hover{
									background-color: $gray--text--dark;
								}
							}
							&.active{
								a{
									color: $white;
									background-color: $gray--text--dark;
									border: 1px solid transparent;
									@include border-radius(0);
								}
							}
						}
					}
					.tab-content{
						@include make-lg-column(10); 
						@include make-sm-column(10);
						@include make-xs-column(10);
						.tab-pane{		
						padding-top: 20px;					
							p{ color: $white; }
							a{ color: $orange; }

							.multimedia--1{
								@include make-lg-column(5);
								/*@include make-sm-column(12);*/
								@include make-xs-column(4); 
								figure{ 
									@include make-lg-column(12);
									
									a.tab-icon{
										i{
											font-size: 18px;
										}
									}
									figcaption{
										h3, time{
											margin: 0;
											color: $white;
											a{ color: $green--accent; }
										}
										h3{
											font-size: 14px;
										}
										time{
											font-size: 11px;
										}
									}
								}
							}
							.multimedia--2{
								@include make-lg-column(7);
								/*@include make-sm-column(12);*/
								@include make-xs-column(8);
								figure{ 
									@include make-lg-column(4);
									@include make-xs-column(6);
									a.tab-icon{
										i{
											font-size: 18px;
										}
									}
									figcaption{
										h3, time{
											margin: 0;
											color: $white;
											a{ color: $green--accent; }
										}
										h3{
											font-size: 14px;
										}
										time{
											font-size: 11px;
										}
									}
								}
							}
							figure{
								padding-left: 5px !important;
								padding-right: 5px !important;
							}
							.multimedia--1, .multimedia--2{
								padding-left: 0px !important;
								padding-right: 0px !important;
								figure{
									a.tab-icon{
										position: absolute;
										top: 0;
										padding: 15px;
										color: $green--accent;
									}
								}
							}
						}
					}
				}
			}
		}
	}	
}

@media(min-width: $screen-lg-min){
	.home{
		.multimedia--1{
			figure{ 
				a.tab-icon{
					i{
						font-size: 24px;
					}
				}
				figcaption{
					position: absolute;
					bottom: 0;
					left: 5px;
					right: 5px; 
					padding: 15px;
					 opacity: 0.8;
					background: -moz-linear-gradient(top, rgba(0,0,0,0.001) 0%, rgba(0,0,0,1) 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.001)), color-stop(100%,rgba(0,0,0,1)));
					background: -webkit-linear-gradient(top, rgba(0,0,0,0.001) 0%,rgba(0,0,0,1) 100%);
					background: -o-linear-gradient(top, rgba(0,0,0,0.001) 0%,rgba(0,0,0,1) 100%);
					background: -ms-linear-gradient(top, rgba(0,0,0,0.001) 0%,rgba(0,0,0,1) 100%);
					background: linear-gradient(to bottom, rgba(0,0,0,0.001) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
					h3{
						font-size: 24px !important;
					}
					h3, time{
						margin: 0;
						color: $white;
						a{ color: $white; }
					}
				}
			}
		}
	}
}