.home{
	.section{
		.page-header{
			margin: 0;
			h3{
				margin-top: 0;
				@include opensans();
				padding: 13px 0px 9pt;
				letter-spacing: 1.25px;
			}
		}

		&.newsfeed{
			main{
				@include make-sm-column(6);
				article.post{
					padding-bottom: 7px;
					padding-top: 7px;
					figure{
						float: left;
						margin-right: 10px;
					}
					header{
						time{
							font-size: 11px;
							color: $gray--light;
						}
						h2{
							@include opensans(semibold);
							font-size: 13px;
							margin-top: 3px;
						}
					}
				}
				a.cta__link{
					font-size: 11px;
				}
			}
			aside{
				@include make-sm-column(3);
				&.eventos{
					.widget{
						&.tribe-events-list-widget{
							
							h3{
								background-color: $green;
								color: $white;
								&:before{
									@include fa();
									content: "\f073";
									margin-right: 5px;
								}
							}

							background-color: $green;
							ol.vcalendar{
								padding-left: 15px;
								padding-right: 15px;
								padding-top: 15px;
								li{
									margin-bottom: 10px;
									padding-bottom: 10px;
									border-bottom: 1px solid rgba(0,0,0,.06);
									h4{
										font-size: 13px;
										margin: 0;
										@include opensans(semibold);
										a{
											color: $yellow;
										}
									}
									.duration{
										font-weight: normal;
										font-size: 11px;
										color: $white;
										@include opacity(.75);
									}
								}
							}
							p.tribe-events-widget-link{
								padding-left: 15px;
								padding-right: 15px;
								a{
									text-transform: uppercase;
									font-size: 11px;
									@include opensans(bold);
									color: $yellow;
								}
							}
						}
					}
				}
			}
		}

		&.multimedia__banner{
			background-color: $gray--text; 
			.multimedia{
				@include make-lg-column(9);
				.page-header{
					margin: 0;
					border-bottom: 1px solid $gray--text--dark;
					h3{
						margin-top: 0;
						color: $cream;
					}
				}
				.tabbable.tabs-left{
					@include make-row();
					.nav.nav-tabs{
						@include make-lg-column(2);
						@include make-sm-column(2);
						@include make-xs-column(2); 
						margin-right: 0;
						border-right: 1px solid $gray--text--dark;
						padding-right: 0;
						li{
							a{
								color: $gray--light;
								@include border-radius(0);
								border: 1px solid transparent;
								margin-bottom: 2px;
								&:hover{
									background-color: $gray--text--dark;
								}
							}
							&.active{
								a{
									color: $white;
									background-color: $gray--text--dark;
									border: 1px solid transparent;
									@include border-radius(0);
								}
							}
						}
					}
					.tab-content{
						@include make-lg-column(10); 
						@include make-sm-column(10);
						@include make-xs-column(10);
						.tab-pane{		
						padding-top: 20px;					
							p{ color: $white; }
							a{ color: $orange; }

							.multimedia--1{
								@include make-lg-column(6);
								/*@include make-sm-column(12);*/
								@include make-xs-column(4); 
								figure{ 
									@include make-lg-column(12);
									
									a.tab-icon{
										i{
											font-size: 18px;
										}
									}
									figcaption{
										h3, time{
											margin: 0;
											color: $white;
											a{ color: $green--accent; }
										}
										h3{
											font-size: 14px;
										}
										time{
											font-size: 11px;
										}
									}
								}
							}
							.multimedia--2{
								@include make-lg-column(6);
								/*@include make-sm-column(12);*/
								@include make-xs-column(8);
								figure{ 
									@include make-lg-column(6);
									@include make-xs-column(6);
									a.tab-icon{
										i{
											font-size: 18px;
										}
									}
									figcaption{
										h3, time{
											margin: 0;
											color: $white;
											a{ color: $green--accent; }
										}
										h3{
											font-size: 14px;
										}
										time{
											font-size: 11px;
										}
									}
								}
							}
							figure{
								padding-left: 5px !important;
								padding-right: 5px !important;
							}
							.multimedia--1, .multimedia--2{
								padding-left: 0px !important;
								padding-right: 0px !important;
								figure{
									a.tab-icon{
										position: absolute;
										top: 0;
										padding: 15px;
										color: $green--accent;
									}
								}
							}
						}
					}
				}
			}
			.sidebar{
				.widget{
					background-color: transparent;
					@include text-on-focus();
					border-left: 1px solid $gray--text--dark;
					.nav-sidebar{
						li{
							a{
								border-bottom: 1px solid transparent;
								@include text-on-focus();
							}
						}
					}
				}
			}
		}
	}	
}

@media (max-width: $screen-md-max){
	.home{
		.sl__home{
			.owl-stage-outer{
				.owl-stage{
					background-color: $black;
					.owl-item{
						figure{
							img{}
							figcaption{
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								background: url(../images/pixel-50percent-black.png) repeat;
									background: rgba(0,0,0,0.5);
									padding-left: 20px;
									padding-right: 20px;
									padding-top: 60px;
									.sl__home__hashtag, .sl__home__title, .sl__home__content, .sl__home__link{
										
									}
									.sl__home__hashtag{
										a{	
											color: $white;
											@include opensans(semibold);
											text-transform: uppercase;
											font-size: 10px;
										}
									}
									.sl__home__title{
										h3{
											text-transform: uppercase; 
											@include opensans();
											color: $white;                                                                                                                                                                        
											margin-top: 0px;
											margin-bottom: 0;
											padding-top: 7px;
											padding-bottom: 10px;
											border-bottom: 1px solid transparent;
											a{
												color: $white;
											}
										}
									}
									.sl__home__content{
										p{
											color: $white;
										}
									}
									.sl__home__link{
										p{
											padding-top: 10px;
											padding-bottom: 20px;
											a{
												
											}
										}
									}
							} 
						}

						&.active{
							figure{
							}
							img{}
							figcaption{}
						}
					}
				}
			} /* Owl Stage Outer Ends*/

			.owl-nav{
				.owl-prev, .owl-next{
					position: absolute;
					bottom: 20px;	
					text-align: center;
					opacity: 1;
					background-color: $green--accent; 
					@include border-radius(0);
					width: 24px;
					height: 24px;
					span{
						font-size: 12px;
						line-height: 23px;
					}
				}
				.owl-prev{
					right: 55px;
					span{
					}
				}
				.owl-next{
					right: 15px;
					span{}
				}
			} /* Termina .owl-nav */
			.owl-dots{ 
				position: absolute;
				top: 20px;
				left: 20px;
				.owl-dot{
					float: left;
					margin: 0 5px 0 0;
					background: rgba(0,0,0,0.35);
					padding: 4px;
					@include border-radius(0);
					box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
					span{
						display: block;
						width: 12px;
						height: 4px;
						@include border-radius(0);
						background-color: $white;
					}
					&:hover, &.active{
						span{
							background-color: $green--accent;
						}
					}
				}
			} /* Termina .owl-dots */
		} /* Termina .sl__home */
	} /* Termina home*/
}

@media(min-width: $screen-lg-min){
	.home{
		.sl__home{
			width: 1140px;
			margin: 0 auto;
			.owl-stage-outer{
				overflow: visible;
				.owl-stage{
					background-color: $black;
					.owl-item{
						width: 1140px;
						figure{
							position: relative;
							/*-webkit-transition: all 0.3s ease;
							-moz-transition: all 0.3s ease;
							-ms-transition: all 0.3s ease;
							-o-transition: all 0.3s ease;
							transition: all 0.3s ease;
							transition: all 0.3s ease ease-in-out 0.3s;*/
							opacity: 0.15;
							@include focus-shadow();
      						z-index: 0;
							
							img{
								
							}
							figcaption{
								position: absolute !important;
								z-index: 100;
								@include make-sm-column(6);
								padding-left: 0;
								padding-right: 0;
								bottom: 30px;
  								left: 30px;
  								opacity: 0;
  								.sl__home__hashtag, .sl__home__title, .sl__home__content, .sl__home__link{
  								}
  								.sl__home__hashtag{
  									padding-left: 0px;
  									padding-right: 0px;
  									a{	
  										text-transform: uppercase;
  										display: block;
  										padding-top: 5px;
  										padding-bottom: 5px;
  										@include text-on-focus();
  										@include opensans();
  									}
  								}
  								.sl__home__title{
  									h3{
  										@include opensans(light);
  										@include text-on-focus();                                                                                                                                                                      
  										margin-top: 3px;
  										margin-bottom: 0;
  										padding-top: 15px;
  										padding-bottom: 10px;
  										font-size: 48px !important;
  										text-align: left;
  										a{
  											color: $white;
  										}
  									}
  								}
  								.sl__home__content{
  									p{
  										padding-top: 15px;
  										@include text-on-focus();
  										@include opensans(light);
  										font-size: 18px;
  										text-align: left;
  									}
  								}
  								.sl__home__content, .sl__home__link{
  									p{
  										margin-bottom: 0;
  										padding-bottom: 10px;
  									}
  								}
  								.sl__home__link{
  									p{
  										padding-top: 10px;
  										padding-bottom: 20px;
  										a{
  										}
  									}
  								}
							} 
						}

						&.active{
							figure{
							/*-webkit-transition: all 0.3s ease;
							-moz-transition: all 0.3s ease;
							-ms-transition: all 0.3s ease;
							-o-transition: all 0.3s ease;
							transition: all 0.3s ease;
							transition: all 0.3s ease ease-in-out 0.3s;
							-webkit-filter: grayscale(0);
							-moz-filter: grayscale(0);
							filter: grayscale(0);*/
							opacity: 1;
							}
							img{}
							figcaption{
								opacity: 1;
							}
						}
					}
				}
			} /* Owl Stage Outer Ends*/

			.owl-nav{
				.owl-prev, .owl-next{
					position: absolute;
					top: 50%;	
					text-align: center;
					@include border-radius(0);
					opacity: 0;
					background-color: $green--accent; 
					width: 24px;
					height: 24px;
					span{
						font-size: 12px;
						line-height: 23px;
					}
				}
				.owl-prev{
					left: -5%;
					-webkit-animation-duration: 1s;
					animation-duration: 1s;
					-webkit-animation-fill-mode: both;
					animation-fill-mode: both;
					-webkit-animation-name: fadeOutLeft;
					animation-name: fadeOutLeft;
					span{
					}
				}
				.owl-next{
					right: -5%;
					-webkit-animation-duration: 1s;
					animation-duration: 1s;
					-webkit-animation-fill-mode: both;
					animation-fill-mode: both;
					-webkit-animation-name: fadeOutRight;
					animation-name: fadeOutRight;
					span{}
				}
			} /* Termina .owl-nav */
			.owl-dots{ 
				position: absolute;
				top: 20px;
				left: 20px;
				.owl-dot{
					float: left;
					margin: 0 5px 0 0;
					background: rgba(0,0,0,0.35);
					padding: 4px;
					@include border-radius(0);
					box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
					span{
						display: block;
						width: 12px;
						height: 4px;
						@include border-radius(0);
						background-color: $white;
					}
					&:hover, &.active{
						span{
							background-color: $green--accent;
						}
					}
				}
			} /* Termina .owl-dots */
		
			&:hover{
				.owl-nav{
					.owl-prev{
						-webkit-animation-duration: 1s;
						animation-duration: 1s;
						-webkit-animation-fill-mode: both;
						animation-fill-mode: both;
						-webkit-animation-name: fadeInLeft;
						animation-name: fadeInLeft;
						opacity: 1;
					}
					.owl-next{ 
						-webkit-animation-duration: 1s;
						animation-duration: 1s;
						-webkit-animation-fill-mode: both;
						animation-fill-mode: both;
						-webkit-animation-name: fadeInRight;
						animation-name: fadeInRight;
						opacity: 1;
					}
				}
			}
		} /* Termina .sl__home */


		.multimedia--1{
			figure{ 
				a.tab-icon{
					i{
						font-size: 24px;
					}
				}
				figcaption{
					position: absolute;
					bottom: 0;
					left: 5px;
					right: 5px; 
					padding: 15px;
					 opacity: 0.8;
					background: -moz-linear-gradient(top, rgba(0,0,0,0.001) 0%, rgba(0,0,0,1) 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.001)), color-stop(100%,rgba(0,0,0,1)));
					background: -webkit-linear-gradient(top, rgba(0,0,0,0.001) 0%,rgba(0,0,0,1) 100%);
					background: -o-linear-gradient(top, rgba(0,0,0,0.001) 0%,rgba(0,0,0,1) 100%);
					background: -ms-linear-gradient(top, rgba(0,0,0,0.001) 0%,rgba(0,0,0,1) 100%);
					background: linear-gradient(to bottom, rgba(0,0,0,0.001) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
					h3{
						font-size: 24px !important;
					}
					h3, time{
						margin: 0;
						color: $white;
						a{ color: $white; }
					}
				}
			}
		}
	}
}