.page{
	.wrapper{
		@include make-row();
		.inner{
			@include make-lg-column(3);
			@include make-xs-column(6);
			.thumbnail{
			@include border-radius(0);
			padding: 0;
				.caption{
					h3{
						@include opensans(light);
						font-size: 24px;
					}
					p{
						font-size: 12px;
						&:after{
							@include nav-divider();
							display: block;
							content: '';
						}
					}
					ul.nav{
						margin-top: 20px;
						li{
							a{
								padding: 0;
								background-color: transparent;
								@include opensans(semibold);
								.caret{
									display: none;
									visibility: hidden;
								}
							}
							ul.dropdown-menu{
								position: relative;
								display: block;
								float: none;
								background-color: transparent;
								border: 0 none;
								@include border-radius(0);
								@include box-shadow(none);
								margin: 5px 0 10px 0;
								padding: 0;
								li{
									a{
										@include opensans();
										font-size: 12px;
										margin: 0;
										background-color: transparent;
										padding: 1px 0 3px 0;
										color: $gray--light;
										&:hover{
											color: $red--google;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.contacto{
		.masshead{
			&:after{
				content: none;
			}
		}

		.sidebar{
			.widget{
				.textwidget{
					padding: 7px 15px;
				}
			}
		}
	}
	&.page-template-template-directorios{
		.ap__list{
			h3.ap__list__title{
				background-color: $green--light;
				color: $white;
				margin-bottom: 0;
				padding: 10px 15px;
				font-size: 18px;
			}
			.panel{
				margin-bottom: 0;
				padding-top: 0 !important;
				.panel-heading{
					padding: 5px 15px;
					@include border-radius(0);
					font-size: 14px;
				}
				.table{
					tbody{
						tr{
							td{
								&:first-of-type{
									width: 20%;
								}
								&:last-of-type{
									width: 40%;
									text-align: right;
								}
							}
						}
					}
				}

				.media{
					.media-left{
						img{
							margin-left: 15px;
						}
					}
					.media-body{
						.media-intro{
							position: relative;
							.media-heading{
								@include opensans('bold');
								margin-bottom: 15px;
							}
							a{
								color: $gray-light;
								&:hover{
									color: $red--google;
								}
							}
							ul{
							    margin-left: -1px;
								li{
								    padding: 0 .5em;
								    text-align: center;
								    border-left: 1px solid #ccc;
								    &:first-of-type{
								    	padding-left: 0;
								    }
								}
							}
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
	&.page-template-template-proyectos, &.page-template-template-proyectos-subpage, &.page-template-template-media{
		.proyecto{
			@include container-fixed();
			text-align: center;
			z-index: 1000;
			@media(min-width: $screen-sm-min){
				padding: 0 200px;
			}
			.proyecto__logo{
				img{
					margin: 0 auto;
				}
			}
			.proyecto__descripcion{
				h1{
					color: $white;
					@include text-shadow();
				}
			}
		}

		main{
			.page-header{
				margin: 0 0 20px;
				h1{
					@include opensans(light);
				}
			}
			.breadcrumb{
				display: none;
			}

			.multimedia{
				@extend .row;
				figure{
					@extend .col-lg-6;
					@extend .col-sm-6;
					@extend .col-xs-12;
					padding-bottom: 30px;
					a{
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						height: 100%;
						figcaption{
							position: absolute;
							top: inherit!important;
							bottom: 0;
							padding: 15px;
							width: 100%;
							time{}
							h3{
								font-size: 14px;
								@media(min-width: $screen-xs-min){
									font-size: 16px;
								}
							}
						}
					}
				}
			}
		}
		aside{

		}
	}
	&.page-template-template-serviagro{
		.masshead{
			background-image: url(../images/masshead--servicios.jpg);
			-webkit-background-size: cover;
			background-size: cover;
			.page-header {}
		}
	}
	&.consulta-de-compra-de-guano-de-la-isla{
		main, aside{

		}
		aside{
			margin-top: 0;
		}
	}

	//Page templates
	&.page-template{
		.page-container{
			@include make-row();
				article{
					@include make-lg-column(4);
					@include make-xs-column(6);
					@extend .thumbnail;
					border: 0 none !important;
					border-radius: 0 !important;
					a{
						display: block;
						color: $white;
						padding: 20px;
					}
					.article-container{
						.caption{
							position: relative;
							margin: 0 auto 15px;
							text-align: center;
							padding: 0;
							.icon{
									position: absolute;
									top: 25%;
									left: 0;
									right: 0;
									@include fa-icon();
									font-size: 36px;
									color: white;
							}
							h2{
								@include opensans(bold);
								font-size: 115%;
								color: $white;
								margin: 0;
								padding-top: 25%;
							}
							.entry{
								display: none;
							}
						}
					}
					&.autoevaluacion-transparencia{
						.icon{
							&:before{
								content: $fa-var-check-square-o;
							}
						}
					}
					&.control-gubernamental{
						.icon{
							&:before{
								content: $fa-var-search;
							}
						}
					}
					&.declaraciones-juradas{
						.icon{
							&:before{
								content: $fa-var-file-text-o;
							}
						}
					}
					&.rendicion-de-cuentas{
						.icon{
							&:before{
								content: $fa-var-desktop;
							}
						}
					}
					&.control-interno, &.control-previo{
						.icon{
							&:before{
								content: $fa-var-tasks;
							}
						}
					}
				}

		}
	}

	.archive, .noticias{
		.masshead{
			background-image: url('../images/masshead--1.jpg');
		}
	}

	article{
		padding-top: 20px;
		&.panel{
			padding-top: 0;
		}
		padding-bottom: 20px;
		border-bottom: 1px solid $brown--lighter;
		figure{
			float: left;
			padding-right: 15px;
		}
		header{
			.entry-title{
				@include entry-title();
				margin-top: 0;
				a{
					/*color: $brown; */
				}
			}
		}
		.entry-summary{
			p{
				@include opensans();
				a.read-more{
					display: block;
					padding-top: 10px;
				}
			}
		}

		@include clearfix();

		&:last-of-type{
			border-bottom: 3px solid $brown--lighter;
		}
		&.panel{
			padding-bottom: 0;
		}
	}
}

@media(max-width: $screen-xs-max){
	.page-template-template-proyectos,.page-template-template-media, .page-template-template-proyectos-subpage{
		.proyecto{
			@include make-sm-column(6);
			padding: 30px 0;
			.proyecto__descripcion{
				h1{
					@include entry-title('xs');
				}
			}
		}
	}
}

@media(min-width: $screen-sm-min){
	.page-template-template-proyectos, .page-template-template-proyectos-subpage, &.page-template-template-media{
		.proyecto{
			position: absolute;
			bottom: 15px;
			left: 0;
			right: 0;
			.proyecto__descripcion{

				h1{
					@include entry-title('lg');
				}
			}
		}
	}
}
