.page{
	.wrapper{
		@include make-row();
		.inner{
			@include make-lg-column(3);
			@include make-xs-column(6);
			.thumbnail{
			@include border-radius(0);
			padding: 0;
				.caption{
					h3{
						@include font-family(opensans, light);
						font-size: 24px;
					}
					p{
						font-size: 12px;
						&:after{
							@include nav-divider();
							display: block;
							content: '';
						}
					}
					ul.nav{
						margin-top: 20px;
						li{
							a{
								padding: 0;
								background-color: transparent;
								@include font-family(opensans, semibold);
								.caret{
									display: none;
									visibility: hidden;
								}
							}
							ul.dropdown-menu{
								position: relative;
								display: block;
								float: none;
								background-color: transparent;
								border: 0 none;
								@include border-radius(0);
								@include box-shadow(none);
								margin: 5px 0 10px 0;
								padding: 0;
								li{
									a{
										@include font-family();
										font-size: 12px;
										margin: 0;
										background-color: transparent;
										padding: 1px 0 3px 0;
										color: $gray--light;
										&:hover{
											color: $red--google;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.contacto{
		.masshead{
			&:after{
				content: none;
			}
		}

		.sidebar{
			.widget{
				.textwidget{
					padding: 7px 15px;
				}
			}
		}
	}
	&.page-template-template-directorios{
		.ap__list{
			h3.ap__list__title{
				background-color: $green--light;
				color: $white;
				margin-bottom: 0;
				padding: 10px 15px;
				font-size: 18px;
			}
			.panel{
				margin-bottom: 0;
				padding-top: 0 !important;
				.panel-heading{
					padding: 5px 15px;
					@include border-radius(0);
					font-size: 14px;
				}
				.table{
					tbody{
						tr{
							td{
								&:first-of-type{
									width: 20%;
								}
								&:last-of-type{
									width: 40%;
									text-align: right;
								}
							}
						}
					}
				}

				.media{
					.media-left{
						img{
							margin-left: 15px;
						}
					}
					.media-body{
						.media-intro{
							position: relative;
							.media-heading{
								@include font-family(opensans, bold);
								margin-bottom: 15px;
							}
							a{
								color: $gray-light;
								&:hover{
									color: $red--google;
								}
							}
							ul{
							    margin-left: -1px;
								li{
								    padding: 0 .5em;
								    text-align: center;
								    border-left: 1px solid #ccc;
								    &:first-of-type{
								    	padding-left: 0;
								    }
								}
							}
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
	&.page-template-template-proyectos, &.page-template-template-proyectos-subpage, &.page-template-template-media{
		.proyecto{
			@include container-fixed();
			text-align: center;
			z-index: 1000;
			@media(min-width: $screen-sm-min){
				padding: 0 200px;
			}
			.proyecto__logo{
				img{
					margin: 0 auto;
				}
			}
			.proyecto__descripcion{
				h1{
					@include text-on-focus();
				}
			}
		}

		main{
			.page-header{
				margin: 0 0 20px;
				h1{
					@include font-family(opensans, light);
				}
			}
			.breadcrumb{
				display: none;
			}

			.multimedia{
				@extend .row;
				figure{
					@extend .col-lg-4;
					@extend .col-sm-6;
					@extend .col-xs-12;
					padding-bottom: 30px;
					a{
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						height: 100%;
						figcaption{
							position: absolute;
							top: inherit!important;
							bottom: 0;
							padding: 15px;
							width: 100%;
							h3{
								font-size: 14px;
								@media(min-width: $screen-xs-min){
									font-size: 16px;
								}
							}
						}
					}
				}
			}
		}
	}
	&.page-template-template-serviagro{
		.masshead{
			background-image: url(../images/masshead--servicios.jpg);
			-webkit-background-size: cover;
			background-size: cover;
		}
	}
	&.consulta-de-compra-de-guano-de-la-isla{
		aside{
			margin-top: 0;
		}
	}

	//Page templates
	&.page-template{
		.page-container{
			@include make-row();
				article{
					@include make-lg-column(4);
					@include make-xs-column(6);
					@extend .thumbnail;
					border: 0 none !important;
					border-radius: 0 !important;
					a{
						display: block;
						color: $white;
						padding: 20px;
					}
					.article-container{
						.caption{
							position: relative;
							margin: 0 auto 15px;
							text-align: center;
							padding: 0;
							.icon{
									position: absolute;
									top: 25%;
									left: 0;
									right: 0;
									@include fa-icon();
									font-size: 36px;
									color: white;
							}
							h2{
								@include font-family(opensans, bold);
								font-size: 115%;
								color: $white;
								margin: 0;
								padding-top: 25%;
							}
							.entry{
								display: none;
							}
						}
					}
					&.autoevaluacion-transparencia{
						.icon{
							&:before{
								content: $fa-var-check-square-o;
							}
						}
					}
					&.control-gubernamental{
						.icon{
							&:before{
								content: $fa-var-search;
							}
						}
					}
					&.declaraciones-juradas{
						.icon{
							&:before{
								content: $fa-var-file-text-o;
							}
						}
					}
					&.rendicion-de-cuentas{
						.icon{
							&:before{
								content: $fa-var-desktop;
							}
						}
					}
					&.control-interno, &.control-previo{
						.icon{
							&:before{
								content: $fa-var-tasks;
							}
						}
					}
				}

		}
	}

	.archive, .noticias{
		.masshead{
			background-image: url('../images/masshead--1.jpg');
		}
	}

	article{
		min-height: 150px;
    	margin-bottom: 40px;
		.entry-container{
			background: $white;
			@include shadow-box();
			overflow: hidden;
				header{
					@include make-row(0);
					img{
							@extend .pull-left;
					}
				}
				.entry-left{
					width: 100%;
					height: 185px;
					display: block;
					a{
						@include font-size(32);
						@include text-on-focus();
						.entry-left-container{
							@include flex();
							background-color: rgba(0, 0, 0, 0.15);
							width: 100%;
							height: 100%;
						}
					}
				}
				.entry-body{
					padding-left: 30px !important;
					padding-right: 30px !important;
					@include make-sm-column(12, 0);
					h2{
					  @include font-family(opensans, bold);
						@media (max-width: $screen-xs-max){
					  	@include font-size(18, 23);
									}
					  padding-bottom: 15px;
					  a{
					      color: $gray-dark;
					      &:hover{
							color: $red--google;
					      }
					  }
						padding-bottom: 0;
					}
					time{
						@include meta-text();
					}
      			}
				.post-meta{
					position: relative;
					width: 100%;
					height: 40px;
					border-top: 1px solid $gray-lighter;
					@extend .clearfix;
					margin-top: 30px;
					.post-date{
					  float: left;
									line-height: 40px;

					}
					.post-comments{
					  float: right;
					}
				}
		}

		@media (min-width: $screen-sm-min){
			&.has-post-thumbnail{
					.entry-left, .entry-body{
							@include make-sm-column(6, 0);
							height: 300px;
					}
			}
			.entry-body{
					height: 300px;
					h2{
							@include font-size(24, 30);
					}
			}

			.post-meta{
					position: absolute !important;
					width: 100%;
					bottom: 0;
					right: 0;
					left: 0;
					padding-left: 30px;
					padding-right: 30px;
			}
		}
		
		&.documentos{
			margin-bottom: 20px;
			min-height: 1px;
			.entry-body{
				height: auto;
				.post-meta{
					position: relative !important;
					padding-left: 0px;
					padding-right: 0px;
				}
				.post-comments{
					line-height: 40px; 
				}
			}
			
		}

		&.panel{
			padding-top: 0;
			padding-bottom: 0;
		}
		&:hover{
			.entry-container{
				.entry-left{
					a{
						.entry-left-container{
							background-blend-mode: color;
						}
					}
				}
			}
		}
	}

	&.reconstruccion-con-cambios{
		.masshead{
			@media(min-width: $screen-sm-min){
				height: 500px;
			}
			.container{
				@media(min-width: $screen-sm-min){
					height: 500px;
				}
				.page-header{
					text-align: center;
					h1{
						@include font-size(60);
						@media(max-width: $screen-xs-max){
							@include font-size(36);
						}
					}
					p.lead{
						margin-top: 20px;
					}
				}
			}
		}
		section{
			margin-bottom: 60px;
			.page-header{
				position: relative;
				margin: 0 0 30px;
				border-bottom: 0px solid transparent;
				h3{
					a{
						color: #333;
						&:hover{
							color: tomato;
						}
					}
				}
				.line {
					position: absolute;
					bottom: 0;
					left: 0;
					height: 3px;
					background-color: tomato;
					width: 40px;
				}
			}
			&.comunicados{
				text-align: center;
				margin-bottom: 0;
				background-color: lighten(skyblue, 15%);
				i{
					color: tomato;
				}
				a{
					//@include font-family('opensans','light');
					@include font-size(16);
					color: #333;
					&:hover{
						color: tomato;
					}
				}
			}
			&.noticias{
				@extend .col-sm-4;
				article{
					min-height: 50px;
					margin-bottom: 15px;
					h4{
					@include font-size(14);
					}
					time{
						@include font-size(10);
					}
				}
				
			}
			&.facebook{
				@extend .col-sm-4;	
			}
			&.twitter{
				@extend .col-sm-4;
			}
			&.banners{
				@extend .col-sm-12;
				background: #f1f1f1;
				padding: 3rem 0 7rem;
			}
			&.videos{
				background-color: gray;
				padding: 3rem 0 7rem;
				.page-header{
					h3{
						color: white;
					}
				}
			}
		}

		.owl-dots {
		margin-top: 30px;
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		.owl-dot{
			display: inline-block;
			zoom: 1;
			cursor: pointer;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			span{
			width: 10px;
			height: 10px;
			margin: 5px 7px;
			background: #ddd;
			display: block;
			-webkit-backface-visibility: visible;
			transition: opacity .2s ease;
			border-radius: 30px;
			}
			&:hover{
			span{
				background: white;
			}
			}
			&.active{
			cursor: default;
			span{
				background: tomato;
			}
			}
		}
		}
	}
}

@media(max-width: $screen-xs-max){
	.page-template-template-proyectos,.page-template-template-media, .page-template-template-proyectos-subpage{
		.proyecto{
			@include make-sm-column(6);
			padding: 30px 0;
			.proyecto__descripcion{
				h1{
					@include entry-title('xs');
				}
			}
		}
	}
}

@media(min-width: $screen-sm-min){
	.page-template-template-proyectos, .page-template-template-proyectos-subpage, &.page-template-template-media{
		.proyecto{
			position: absolute;
			bottom: 15px;
			left: 0;
			right: 0;
			.proyecto__descripcion{

				h1{
					@include entry-title('lg');
				}
			}
		}
	}
	
}
.owl-carousel .owl-video-play-icon {
    background: url(../images/owl.video.play.png) no-repeat !important;
}

.owl-carousel .item-video {
	height: 200px;
}

	.owl-video-tn{
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
	}

.icon-format {
    position: absolute;
    bottom: 0;
    right: 10px;
}