.page{
	.wrapper{
		@include make-row();
		.inner{
			@include make-lg-column(3);
			@include make-xs-column(6);
			.thumbnail{
			@include border-radius(0);
			padding: 0;
				.caption{
					h3{
						@include opensans(light);
						font-size: 24px;
					}
					p{
						font-size: 12px;
						&:after{
							@include nav-divider();
							display: block;
							content: '';
						}
					}
					ul.nav{
						margin-top: 20px;
						li{
							a{
								padding: 0;
								background-color: transparent;
								@include opensans(semibold);
								.caret{
									display: none;
									visibility: hidden;
								}
							}
							ul.dropdown-menu{
								position: relative;
								display: block;
								float: none;
								background-color: transparent;
								border: 0 none;
								@include border-radius(0);
								@include box-shadow(none);
								margin: 5px 0 10px 0;
								padding: 0;
								li{
									a{
										@include opensans();
										font-size: 12px;
										margin: 0;
										background-color: transparent;
										padding: 1px 0 3px 0;
										color: $gray--light;
										&:hover{
											color: $red--google;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	&.contacto{
		.masshead{
			&:after{
				content: none;
			}
		}

		.sidebar{
			.widget{
				.textwidget{
					padding: 7px 15px;
				}
			}
		}
	}
	&.page-template-template-directorios{
		.ap__list{
			h3.ap__list__title{
				background-color: $green--light;
				color: $white;
				margin-bottom: 0;
				padding: 10px 15px;
				font-size: 18px;
			}
			.panel{
				margin-bottom: 0;
				padding-top: 0 !important;
				.panel-heading{
					padding: 5px 15px;
					@include border-radius(0);
					font-size: 14px;
				}
				.table{
					tbody{
						tr{
							td{
								&:first-of-type{
									width: 20%;
								}
								&:last-of-type{
									width: 40%;
									text-align: right;
								}
							}
						}
					}
				}

				.media{
					.media-left{
						img{
							margin-left: 15px;
						}
					}
					.media-body{
						.media-intro{
							position: relative;
							a{
								color: $gray-light;
								&:hover{
									color: $red--google;
								}
							}
							ul{
							    margin-left: -1px;
								li{
								    padding: 0 .5em;
								    text-align: center;
								    border-left: 1px solid #ccc;
								    &:first-of-type{
								    	padding-left: 0;
								    }
								}
							}
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}

	&.page-template-template-proyectos, &.page-template-template-proyectos-subpage{
		.proyecto{
			@include container-fixed();
			text-align: center;
			z-index: 1000;
			.proyecto__logo{
				img{
					margin: 0 auto;
				}
			}
			.proyecto__descripcion{
				h1{
					color: $white;
					@include text-shadow();
				}
			}
		}
	}
	&.page-template-template-serviagro{
		.masshead{
			background-image: url(../images/masshead--servicios.jpg);
			-webkit-background-size: cover;
			background-size: cover;
			.page-header {
				margin: 0 auto;
				padding: 0;
			}
		}
	}
	&.consulta-de-compra-de-guano-de-la-isla{
		main, aside{
			
		}
		aside{
			margin-top: 0;
		}
	}
}



.archive, .noticias{
	.masshead{
		background-image: url('../images/masshead--1.jpg');
	}
}

article{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid $brown--lighter;
	figure{}
	header{
		.entry-title{
			@include entry-title(); 
			margin-top: 0;
			a{ 
				/*color: $brown; */
			}
		}
	}
	.entry-summary{
		p{
			@include opensans();
			a.read-more{
				display: block;
				padding-top: 10px;
			}
		}
	}
	
	@include clearfix();
	
	&:last-of-type{
		border-bottom: 3px solid $brown--lighter;
	}
	&.panel{
		padding-bottom: 0;
	}
}

.wp-pagenavi{
	position: relative;
	display: block;
	clear: both;
	padding: 30px 0;
	@include opensans();
	span{
		border: 0 none;
		padding: 5px 10px;
		margin: 0 10px;
		&.current{
			background-color: $red;
			@include border-radius(4px);
			@include opensans();
			color: $white;
		}
	}
	a{
		border: 0 none;
		margin: 0 10px;
	}
}

@media(max-width: $screen-xs-max){
	.page-template-template-proyectos, .page-template-template-proyectos-subpage{
		.proyecto{	
			@include make-sm-column(6);
			padding: 30px 0;
			.proyecto__descripcion{
				h1{
					@include entry-title('xs');
				}
			}
		}
	}
}

@media(min-width: $screen-sm-min){
	.page-template-template-proyectos, .page-template-template-proyectos-subpage{
		.proyecto{	
			position: absolute;
			bottom: 15px;
			left: 0;
			right: 0;
			.proyecto__descripcion{
				
				h1{
					@include entry-title('lg');
				}
			}
		}
	}
}