.single{
	&.single-post{
		.masshead{
			background: transparent url(../images/dia-del-campesino.jpg) no-repeat center top;  
			@include full-bg();
		}
	}
	article.post header .entry-title {
    	@include entry-title(lg);
    }
   &.single-servicios{
   	article .entry-content .entry-content__article{ 
   		width: 100%;
   	}
   } 

	&.single-producto{
		article{
			.producto__imagen{
				@include make-sm-column(5);
				@include make-xs-column(12);
			}
			.producto__descripcion{
				@include make-sm-column(7);
				@include make-xs-column(12);
				header{
					h1{
						@include entry-title(lg);
						margin-bottom: 0;
					}
					.producto__small{
						margin-bottom: 15px;
						h5{
							margin-top: 3px;
							@include entry-title();
							color: $green--light;
						}
					}
				}
			}
			footer, .comments, .producto__detalles{
				@include make-sm-column(12);
			}
		}
	}
}