.sidebar{
	.widget{
		margin-bottom: 30px;
		border: 1px solid $gray--lighter;
		background-color: $white;
		h3{
			padding: 13px 15px 12px 15px;
			margin: 0;
			border-bottom: 1px solid rgba(0,0,0,0.06);
			font-size: 11px;
			text-transform: uppercase;
			box-shadow: inset 0 -1px 0 rgba(0,0,0,0.02);
			@include opensans(600);
			letter-spacing: 1.5px;
			-webkit-font-smoothing: antialiased;
			background-color: $white--smoke;
			background-image: none !important;
			background-repeat: no repeat !important;
		}
		ul{
			margin: 0;
			padding: 0;
			list-style-type: none;
			li{
				a{
					display: block;
					padding: 10px 15px;
					border-bottom: 1px solid rgba(0,0,0,0.06);
					&:hover{
						background-color: $white--smoke;
					}
				}
			}
		}
	}
}