.sidebar{
	.widget{
		border-left: 1px solid $gray--lighter; 
		margin-bottom: 30px;
		background-color: $white;
		.form-control{
			with: 100%;
			padding: 7px 15px;
		}
		h3{
			padding: 13px 15px 12px 15px;
			margin: 0;
			font-size: 24px;
			/* text-transform: uppercase; */ 
			letter-spacing: 1.25px;
			@include opensans(light);
			-webkit-font-smoothing: antialiased;
		}
		ul{

			margin: 15px 0 0;
			padding: 0;
			list-style-type: none;
			li{
				time{
					@include meta-text();
					padding: 3px 15px 0; 
				}
				a{
					display: block;
					padding: 7px 15px;
					border-bottom: 1px solid $white--smoke;
					color: $gray--light;
					font-size: 14px;
					&:hover{
						background-color: transparent;
						color: $red--google--hover;
					}
				}
				&.current-menu-item{
					a{
						background-color: transparent;
						color: $red--google;
						border-left: 3px solid $red--google;
						@include opensans(bold);
					}
				}
				&.dropdown{
					&:hover{
						.dropdown-menu{
							display: block;
							margin: 0;
						}
					}
				}
			}
			&.related-posts{
				li{
					a{
						padding-top: 1px;
						color: $red--google;
						&:hover{
							color: $red--google--hover;
						}
					}
					p{
						padding: 7px 15px; 
					}
				}
			}
			&#recentcomments, &.plain{
				li{
					padding: 7px 15px;
					p{
						text-align: left;
					}
				}
			}
		}
		.tagcloud, .textwidget{
			padding: 7px 15px; 
		}
		.textwidget{
			h3{
				padding: 13px 0px 9pt 0px;
			}
		}
		select{
			margin: 7px 15px; 
		}

	&.banner{
		margin-bottom: 5px;
	}

		#searchform{
			padding-left: 15px;
			padding-right: 15px;
			.checkbox{
				label{
					display: block;
				}
			}
			&.searchform_for_post{
				@include searchform_for(post);
			}
			&.searchform_for_documentos{
				@include searchform_for(documentos);
			}
			&.searchform_for_convocatorias{
				@include searchform_for(convocatorias);
			}
			&.searchform_for_producto{
				@include searchform_for(producto);
			}
		}

	}
}